@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1 class="display-4">Tus Test</h1>
</div>

<div>
    <p><a href="https://github.com/tusdotnet/tusdotnet">https://github.com/tusdotnet/tusdotnet</a></p>
    <p><a href="https://tus.io/demo.html">https://tus.io/demo.html</a> Very nice UI features with source <a href="https://github.com/tus/tus.io/blob/master/assets/javascripts/upload-demo.js">here</a></p>
    <p><a href="/upload-test">upload-test</a> Source from <a href="https://github.com/tus/tus-js-client">https://github.com/tus/tus-js-client</a> uploads to https://tusd.tusdemo.net/files/</p>
    <p><a href="/upload-test-backend">upload-test-backend</a> uploads to local. Javascript implementation from <a href="https://github.com/tusdotnet/tusdotnet">https://github.com/tusdotnet/tusdotnet</a> </p>
</div>

